.contain-card2{

@import url('https://fonts.googleapis.com/css?family=Chewy');
.card{
    width: 35vh;
    
    margin: 10px;
        background-image: url('https://i.ibb.co/fM55ZVs/Webp-net-resizeimage-2.jpg') !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        justify-content: space-around;
        
}


.card-text{
    margin: 0px !important;
    text-align: center;
    color: #eb69b1;
    text-shadow: #5e5e5ea9 1px 1px, #5e5e5ea9 1px 1px, #5e5e5ea9 1px 1px, #5e5e5ea9 1px 1px;
}
.globaldivfame{
    display: inline-flex;
}
.card{
    width: 18rem;
}
.card-img-top{
    width: 100px !important;
}
.card-header{
    margin: 0px !important;
    padding: 0px !important;
    text-align: center;
    background-color: transparent !important;
    border-bottom: none !important;
    margin: 0px !important;
    text-align: center;
    color: #eb69b1;
    text-shadow: #5e5e5ea9 1px 1px, #5e5e5ea9 1px 1px, #5e5e5ea9 1px 1px, #5e5e5ea9 1px 1px;
    box-sizing: content-box;
    font-size: 40px;
    font-family: 'Chewy', cursive;
    
}

.CardTop{
    padding-top: 0 !important;
    background-color:#ededed;

}
#cardfame{
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}
.CardGlobal{
    padding: 0px !important;
    margin: 0 !important;
    border: 2px solid black !important;   
}
.CardEgg{
    font-size: 28px;
    font-family: 'Chewy', cursive;
}
.CardBot{
    padding: 0px !important;
    padding-bottom: 0px !important;
    background-color:#ededed;
    
}

.CardLegBack{
    background-image: url('https://i.ibb.co/fM55ZVs/Webp-net-resizeimage-2.jpg');
}