
.theEgg{
.bg-sombre{
    background-image: url("https://i.imgur.com/sclTlWc.jpg");
    background-size: 100%, 100%;
    border: inset;
    border-color: #000000;
}

@media screen and (max-width: 705px) {
    .bg-sombre{
        background-image: url("https://i.imgur.com/sclTlWc.jpg");
        background-size: 5000px, 5000px;
        background-repeat: no-repeat;
        border: inset;
        border-color: #000000;
    }
}


section{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

section:hover{
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
}

.widthimg{
    max-width:80%;
    height:auto;
}
.card-margin1{
    padding-left: 32px;
}
}