@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:200");
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Pacifico');



.skySecret {
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  background: -webkit-linear-gradient(bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  img {
    display: flex !important;
    margin: auto;
    height: 40vh;
  }
  
  body {
    margin: 0px;
  }
}


.skySecret .cloudSecret {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.skySecret .cloudSecret .cloud0Secret {
  position: absolute;
  top: 20%;
  animation: cloud 60s linear infinite;
  animation-delay: 0s;
  animation-direction: forwards;
  left: -50vh;
  width: 40vh;
  height: 40vh;
  z-index: 2;
  opacity: 0.4;
}
.skySecret .cloudSecret .cloud0Secret::before {
  content: '';
  font-family: 'FontAwesome';
  color: white;
  font-size: 40vh;
  position: fixed;
}
.skySecret .cloudSecret .cloud1Secret {
  position: absolute;
  top: 38%;
  animation: cloud 71s linear infinite;
  animation-delay: 4s;
  animation-direction: forwards;
  left: -50vh;
  width: 40vh;
  height: 40vh;
  z-index: 2;
  opacity: 0.4;
  position: fixed;
}
.skySecret .cloudSecret .cloud1Secret::before {
  content: '';
  font-family: 'FontAwesome';
  color: white;
  font-size: 40vh;
}

@keyframes cloud {
  from {
    left: -50vh;
  }
  to {
    left: 100%;
  }
}



@-webkit-keyframes bounce {
  from {
    top: 100px;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    top: 50px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  50% {
    top: 150px;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  75% {
    top: 75px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  to {
    top: 100px;
  }
}

@keyframes bounce {
  from {
    top: 100px;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    top: 50px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  50% {
    top: 150px;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  75% {
    top: 75px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  to {
    top: 100px;
  }
}
   
@-webkit-keyframes run {
  0% { left: -50%;}
  100%{ left : 100%;}
}

@media screen and (max-width: 1006px) {
    h1{
    font-size: 100px !important;
    text-align: center;
  }
}
